.App {
  text-align: center;
}



.App-header {
  background-color: #6b7ca0;
  min-height: 150vh;
  flex-direction: row;
  align-items: top;
  justify-content: ;
  font-size: calc(px + 10vmin);
  color: white;
}

.App-link {
  color: #286777;
}
.pic {
  max-height: 50px;
}
.nuru {
  min-height: 10px;
}